*{
    font-family: 'Popins',sans-serif !important;

}
.card{
    border: none !important;
}


.card-img-top{

  height: 300px;
}

.card-body{

    text-align: center;
justify-content: center;
}
.contact{
   
        background-image: url(contact.png);
        background-size: cover;
        display: flex;
        align-items: center;
        height: 50vh;
        padding-left: 9%;
        background-position: center;
       width: 100%;
    
        
        
   
}
.contact a{

    display: flex;
    text-align: center;
    justify-content: center;
    width: 12rem;
    height: 6rem;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    border: 1px solid white;

}
.navbar {
    font-weight: 600;
    font-family: 'Popins',sans-serif !important;
}